
.ad { background-image: url(../../media/cinema/flags/ad.png); }
.ae { background-image: url(../../media/cinema/flags/ae.png); }
.af { background-image: url(../../media/cinema/flags/af.png); }
.ag { background-image: url(../../media/cinema/flags/ag.png); }
.ah { background-image: url(../../media/cinema/flags/ah.png); }
.ai { background-image: url(../../media/cinema/flags/ai.png); }
.al { background-image: url(../../media/cinema/flags/al.png); }
.am { background-image: url(../../media/cinema/flags/am.png); }
.an { background-image: url(../../media/cinema/flags/an.png); }
.ao { background-image: url(../../media/cinema/flags/ao.png); }
.ar { background-image: url(../../media/cinema/flags/ar.png); }
.as { background-image: url(../../media/cinema/flags/as.png); }
.at { background-image: url(../../media/cinema/flags/at.png); }
.au { background-image: url(../../media/cinema/flags/au.png); }
.aw { background-image: url(../../media/cinema/flags/aw.png); }
.ax { background-image: url(../../media/cinema/flags/ax.png); }
.az { background-image: url(../../media/cinema/flags/az.png); }

.ba { background-image: url(../../media/cinema/flags/ba.png); }
.bb { background-image: url(../../media/cinema/flags/bb.png); }
.bd { background-image: url(../../media/cinema/flags/bd.png); }
.be { background-image: url(../../media/cinema/flags/be.png); }
.bf { background-image: url(../../media/cinema/flags/bf.png); }
.bg { background-image: url(../../media/cinema/flags/bg.png); }
.bh { background-image: url(../../media/cinema/flags/bh.png); }
.bi { background-image: url(../../media/cinema/flags/bi.png); }
.bj { background-image: url(../../media/cinema/flags/bj.png); }
.bm { background-image: url(../../media/cinema/flags/bm.png); }
.bn { background-image: url(../../media/cinema/flags/bn.png); }
.bo { background-image: url(../../media/cinema/flags/bo.png); }
.br { background-image: url(../../media/cinema/flags/br.png); }
.bs { background-image: url(../../media/cinema/flags/bs.png); }
.bt { background-image: url(../../media/cinema/flags/bt.png); }
.bv { background-image: url(../../media/cinema/flags/bv.png); }
.bw { background-image: url(../../media/cinema/flags/bw.png); }
.by { background-image: url(../../media/cinema/flags/by.png); }
.bz { background-image: url(../../media/cinema/flags/bz.png); }

.ca { background-image: url(../../media/cinema/flags/ca.png); }
.cc { background-image: url(../../media/cinema/flags/cc.png); }
.cd { background-image: url(../../media/cinema/flags/cd.png); }
.cf { background-image: url(../../media/cinema/flags/cf.png); }
.cg { background-image: url(../../media/cinema/flags/cg.png); }
.ch { background-image: url(../../media/cinema/flags/ch.png); }
.ci { background-image: url(../../media/cinema/flags/ci.png); }
.ck { background-image: url(../../media/cinema/flags/ck.png); }
.cl { background-image: url(../../media/cinema/flags/cl.png); }
.cm { background-image: url(../../media/cinema/flags/cm.png); }
.cn { background-image: url(../../media/cinema/flags/cn.png); }
.co { background-image: url(../../media/cinema/flags/co.png); }
.cq { background-image: url(../../media/cinema/flags/cq.png); }
.cr { background-image: url(../../media/cinema/flags/cr.png); }
.cs { background-image: url(../../media/cinema/flags/cs.png); }
.ct { background-image: url(../../media/cinema/flags/ct.png); }
.cu { background-image: url(../../media/cinema/flags/cu.png); }
.cv { background-image: url(../../media/cinema/flags/cv.png); }
.cx { background-image: url(../../media/cinema/flags/cx.png); }
.cy { background-image: url(../../media/cinema/flags/cy.png); }
.cz { background-image: url(../../media/cinema/flags/cz.png); }

.de { background-image: url(../../media/cinema/flags/de.png); }
.dj { background-image: url(../../media/cinema/flags/dj.png); }
.dk { background-image: url(../../media/cinema/flags/dk.png); }
.dm { background-image: url(../../media/cinema/flags/dm.png); }
.do { background-image: url(../../media/cinema/flags/do.png); }
.dz { background-image: url(../../media/cinema/flags/dz.png); }

.ec { background-image: url(../../media/cinema/flags/ec.png); }
.ee { background-image: url(../../media/cinema/flags/ee.png); }
.eg { background-image: url(../../media/cinema/flags/eg.png); }
.eh { background-image: url(../../media/cinema/flags/eh.png); }
.en { background-image: url(../../media/cinema/flags/en.png); }
.er { background-image: url(../../media/cinema/flags/er.png); }
.es { background-image: url(../../media/cinema/flags/es.png); }
.et { background-image: url(../../media/cinema/flags/et.png); }
.eu { background-image: url(../../media/cinema/flags/eu.png); }

.fi { background-image: url(../../media/cinema/flags/fi.png); }
.fj { background-image: url(../../media/cinema/flags/fj.png); }
.fk { background-image: url(../../media/cinema/flags/fk.png); }
.fm { background-image: url(../../media/cinema/flags/fm.png); }
.fo { background-image: url(../../media/cinema/flags/fo.png); }
.fr { background-image: url(../../media/cinema/flags/fr.png); }

.ga { background-image: url(../../media/cinema/flags/ga.png); }
.gb { background-image: url(../../media/cinema/flags/gb.png); }
.gd { background-image: url(../../media/cinema/flags/gd.png); }
.ge { background-image: url(../../media/cinema/flags/ge.png); }
.gf { background-image: url(../../media/cinema/flags/gf.png); }
.gh { background-image: url(../../media/cinema/flags/gh.png); }
.gi { background-image: url(../../media/cinema/flags/gi.png); }
.gl { background-image: url(../../media/cinema/flags/gl.png); }
.gm { background-image: url(../../media/cinema/flags/gm.png); }
.gn { background-image: url(../../media/cinema/flags/gn.png); }
.gp { background-image: url(../../media/cinema/flags/gp.png); }
.gq { background-image: url(../../media/cinema/flags/gq.png); }
.gr { background-image: url(../../media/cinema/flags/gr.png); }
.gs { background-image: url(../../media/cinema/flags/gs.png); }
.gt { background-image: url(../../media/cinema/flags/gt.png); }
.gu { background-image: url(../../media/cinema/flags/gu.png); }
.gw { background-image: url(../../media/cinema/flags/gw.png); }
.gy { background-image: url(../../media/cinema/flags/gy.png); }

.hk { background-image: url(../../media/cinema/flags/hk.png); }
.hm { background-image: url(../../media/cinema/flags/hm.png); }
.hn { background-image: url(../../media/cinema/flags/hn.png); }
.hr { background-image: url(../../media/cinema/flags/hr.png); }
.ht { background-image: url(../../media/cinema/flags/ht.png); }
.hu { background-image: url(../../media/cinema/flags/hu.png); }

.id { background-image: url(../../media/cinema/flags/id.png); }
.ie { background-image: url(../../media/cinema/flags/ie.png); }
.il { background-image: url(../../media/cinema/flags/il.png); }
.in { background-image: url(../../media/cinema/flags/in.png); }
.io { background-image: url(../../media/cinema/flags/io.png); }
.iq { background-image: url(../../media/cinema/flags/iq.png); }
.ir { background-image: url(../../media/cinema/flags/ir.png); }
.is { background-image: url(../../media/cinema/flags/is.png); }
.it { background-image: url(../../media/cinema/flags/it.png); }

.jm { background-image: url(../../media/cinema/flags/jm.png); }
.jo { background-image: url(../../media/cinema/flags/jo.png); }
.jp { background-image: url(../../media/cinema/flags/jp.png); }

.ke { background-image: url(../../media/cinema/flags/ke.png); }
.kg { background-image: url(../../media/cinema/flags/kg.png); }
.kh { background-image: url(../../media/cinema/flags/kh.png); }
.ki { background-image: url(../../media/cinema/flags/ki.png); }
.km { background-image: url(../../media/cinema/flags/km.png); }
.km { background-image: url(../../media/cinema/flags/km.png); }
.kn { background-image: url(../../media/cinema/flags/kn.png); }
.kp { background-image: url(../../media/cinema/flags/kp.png); }
.kr { background-image: url(../../media/cinema/flags/kr.png); }
.kw { background-image: url(../../media/cinema/flags/kw.png); }
.ky { background-image: url(../../media/cinema/flags/ky.png); }
.kz { background-image: url(../../media/cinema/flags/kz.png); }

.la { background-image: url(../../media/cinema/flags/la.png); }
.lb { background-image: url(../../media/cinema/flags/lb.png); }
.lc { background-image: url(../../media/cinema/flags/lc.png); }
.li { background-image: url(../../media/cinema/flags/li.png); }
.lk { background-image: url(../../media/cinema/flags/lk.png); }
.lk { background-image: url(../../media/cinema/flags/lk.png); }
.lr { background-image: url(../../media/cinema/flags/lr.png); }
.ls { background-image: url(../../media/cinema/flags/ls.png); }
.lt { background-image: url(../../media/cinema/flags/lt.png); }
.lu { background-image: url(../../media/cinema/flags/lu.png); }
.lv { background-image: url(../../media/cinema/flags/lv.png); }
.ly { background-image: url(../../media/cinema/flags/ly.png); }

.ma { background-image: url(../../media/cinema/flags/ma.png); }
.mc { background-image: url(../../media/cinema/flags/mc.png); }
.md { background-image: url(../../media/cinema/flags/md.png); }
.me { background-image: url(../../media/cinema/flags/me.png); }
.mg { background-image: url(../../media/cinema/flags/mg.png); }
.mh { background-image: url(../../media/cinema/flags/mh.png); }
.mk { background-image: url(../../media/cinema/flags/mk.png); }
.ml { background-image: url(../../media/cinema/flags/ml.png); }
.mm { background-image: url(../../media/cinema/flags/mm.png); }
.mn { background-image: url(../../media/cinema/flags/mn.png); }
.mo { background-image: url(../../media/cinema/flags/mo.png); }
.mp { background-image: url(../../media/cinema/flags/mp.png); }
.mq { background-image: url(../../media/cinema/flags/mq.png); }
.mr { background-image: url(../../media/cinema/flags/mr.png); }
.ms { background-image: url(../../media/cinema/flags/ms.png); }
.mt { background-image: url(../../media/cinema/flags/mt.png); }
.mu { background-image: url(../../media/cinema/flags/mu.png); }
.mv { background-image: url(../../media/cinema/flags/mv.png); }
.mw { background-image: url(../../media/cinema/flags/mw.png); }
.mx { background-image: url(../../media/cinema/flags/mx.png); }
.my { background-image: url(../../media/cinema/flags/my.png); }
.mz { background-image: url(../../media/cinema/flags/mz.png); }

.na { background-image: url(../../media/cinema/flags/na.png); }
.nc { background-image: url(../../media/cinema/flags/nc.png); }
.ne { background-image: url(../../media/cinema/flags/ne.png); }
.nf { background-image: url(../../media/cinema/flags/nf.png); }
.ng { background-image: url(../../media/cinema/flags/ng.png); }
.ni { background-image: url(../../media/cinema/flags/ni.png); }
.nl { background-image: url(../../media/cinema/flags/nl.png); }
.no { background-image: url(../../media/cinema/flags/no.png); }
.np { background-image: url(../../media/cinema/flags/np.png); }
.nr { background-image: url(../../media/cinema/flags/nr.png); }
.nu { background-image: url(../../media/cinema/flags/nu.png); }
.nz { background-image: url(../../media/cinema/flags/nz.png); }

.om { background-image: url(../../media/cinema/flags/om.png); }

.pa { background-image: url(../../media/cinema/flags/pa.png); }
.pe { background-image: url(../../media/cinema/flags/pe.png); }
.pf { background-image: url(../../media/cinema/flags/pf.png); }
.pg { background-image: url(../../media/cinema/flags/pg.png); }
.ph { background-image: url(../../media/cinema/flags/ph.png); }
.pk { background-image: url(../../media/cinema/flags/pk.png); }
.pl { background-image: url(../../media/cinema/flags/pl.png); }
.pm { background-image: url(../../media/cinema/flags/pm.png); }
.pn { background-image: url(../../media/cinema/flags/pn.png); }
.pr { background-image: url(../../media/cinema/flags/pr.png); }
.ps { background-image: url(../../media/cinema/flags/ps.png); }
.pt { background-image: url(../../media/cinema/flags/pt.png); }
.pw { background-image: url(../../media/cinema/flags/pw.png); }
.py { background-image: url(../../media/cinema/flags/py.png); }

.qa { background-image: url(../../media/cinema/flags/qa.png); }

.re { background-image: url(../../media/cinema/flags/re.png); }
.ro { background-image: url(../../media/cinema/flags/ro.png); }
.rs { background-image: url(../../media/cinema/flags/rs.png); }
.ru { background-image: url(../../media/cinema/flags/ru.png); }
.rw { background-image: url(../../media/cinema/flags/rw.png); }

.sa { background-image: url(../../media/cinema/flags/sa.png); }
.sb { background-image: url(../../media/cinema/flags/sb.png); }
.sc { background-image: url(../../media/cinema/flags/sc.png); }
.sd { background-image: url(../../media/cinema/flags/sd.png); }
.se { background-image: url(../../media/cinema/flags/se.png); }
.sf { background-image: url(../../media/cinema/flags/sf.png); }
.sg { background-image: url(../../media/cinema/flags/sg.png); }
.sh { background-image: url(../../media/cinema/flags/sh.png); }
.si { background-image: url(../../media/cinema/flags/si.png); }
.sj { background-image: url(../../media/cinema/flags/sj.png); }
.sk { background-image: url(../../media/cinema/flags/sk.png); }
.sl { background-image: url(../../media/cinema/flags/sl.png); }
.sm { background-image: url(../../media/cinema/flags/sm.png); }
.sn { background-image: url(../../media/cinema/flags/sn.png); }
.so { background-image: url(../../media/cinema/flags/so.png); }
.sr { background-image: url(../../media/cinema/flags/sr.png); }
.st { background-image: url(../../media/cinema/flags/st.png); }
.su { background-image: url(../../media/cinema/flags/su.png); }
.sv { background-image: url(../../media/cinema/flags/sv.png); }
.sy { background-image: url(../../media/cinema/flags/sy.png); }
.sz { background-image: url(../../media/cinema/flags/sz.png); }

.tc { background-image: url(../../media/cinema/flags/tc.png); }
.td { background-image: url(../../media/cinema/flags/td.png); }
.tf { background-image: url(../../media/cinema/flags/tf.png); }
.tg { background-image: url(../../media/cinema/flags/tg.png); }
.th { background-image: url(../../media/cinema/flags/th.png); }
.tj { background-image: url(../../media/cinema/flags/tj.png); }
.tk { background-image: url(../../media/cinema/flags/tk.png); }
.tl { background-image: url(../../media/cinema/flags/tl.png); }
.tm { background-image: url(../../media/cinema/flags/tm.png); }
.tn { background-image: url(../../media/cinema/flags/tn.png); }
.to { background-image: url(../../media/cinema/flags/to.png); }
.tr { background-image: url(../../media/cinema/flags/tr.png); }
.tt { background-image: url(../../media/cinema/flags/tt.png); }
.tv { background-image: url(../../media/cinema/flags/tv.png); }
.tw { background-image: url(../../media/cinema/flags/tw.png); }
.tz { background-image: url(../../media/cinema/flags/tz.png); }

.ua { background-image: url(../../media/cinema/flags/ua.png); }
.ug { background-image: url(../../media/cinema/flags/ug.png); }
.um { background-image: url(../../media/cinema/flags/um.png); }
.us { background-image: url(../../media/cinema/flags/us.png); }
.uy { background-image: url(../../media/cinema/flags/uy.png); }
.uz { background-image: url(../../media/cinema/flags/uz.png); }

.va { background-image: url(../../media/cinema/flags/va.png); }
.vc { background-image: url(../../media/cinema/flags/vc.png); }
.ve { background-image: url(../../media/cinema/flags/ve.png); }
.vg { background-image: url(../../media/cinema/flags/vg.png); }
.vi { background-image: url(../../media/cinema/flags/vi.png); }
.vn { background-image: url(../../media/cinema/flags/vn.png); }
.vu { background-image: url(../../media/cinema/flags/vu.png); }

.wa { background-image: url(../../media/cinema/flags/wa.png); }
.wf { background-image: url(../../media/cinema/flags/wf.png); }
.ws { background-image: url(../../media/cinema/flags/ws.png); }

.ye { background-image: url(../../media/cinema/flags/ye.png); }
.yt { background-image: url(../../media/cinema/flags/yt.png); }

.za { background-image: url(../../media/cinema/flags/za.png); }
.zm { background-image: url(../../media/cinema/flags/wm.png); }
.zw { background-image: url(../../media/cinema/flags/zw.png); }
.zz { background-image: url(../../media/cinema/flags/zz.png); }	

